// out: ../../css/components/base.css, compress: true, sourceMap: false


@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Semibold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova/ProximaNova-Bold.otf');
    font-weight: 600;
    font-style: normal;
}

html{
    font-size: 14px;
}

body{
    width: 100%;
    height: 100%;

    font-family: 'ProximaNova';
    font-size: 14px;
    font-weight: 400;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe0b7+0,fff6e0+100 */
    background: rgb(255,224,183); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(255,224,183,1) 0%, rgba(255,246,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255,224,183,1) 0%,rgba(255,246,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(255,224,183,1) 0%,rgba(255,246,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0b7', endColorstr='#fff6e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logo{
    opacity: .4;
}